.deps
.libs
Makefile
Makefile.in
*.lo
*.la
hald-addon-acpi
hald-addon-hid-ups
hald-addon-pmu
hald-addon-storage
hald-addon-usb-csr
hald-addon-keyboard
hald-addon-acpi-buttons-toshiba
hald-addon-macbookpro-backlight
hald-addon-cpufreq
*.o
*~
