.deps
.libs
Makefile
Makefile.in
*.lo
*.la
hald-addon-acpi
hald-addon-generic-backlight
hald-addon-hid-ups
hald-addon-ipw-killswitch
hald-addon-pmu
hald-addon-storage
hald-addon-usb-csr
hald-addon-input
hald-addon-acpi-buttons-toshiba
hald-addon-macbook-backlight
hald-addon-macbookpro-backlight
hald-addon-cpufreq
hald-addon-dell-backlight
hald-addon-imac-backlight
hald-addon-rfkill-killswitch
*.o
*~
