Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
hal.conf
hal.pc
hal-policy.pc
libtool
ltmain.sh
stamp-h1
hal-storage.pc
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
depcomp
install-sh
missing
py-compile
INSTALL
*.o
*.tar.gz
*.tar.bz2
*~
*.pyo
*.pyc
*.gcno
