<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!-- 
Policy definitions for HAL's ACL Management mechanism

Copyright (c) 2007 David Zeuthen <david@fubar.dk>

HAL is licensed to you under your choice of the the Academic Free
License Version 2.1, or the GNU General Public License version 2. Some
individual source files may be under the GPL only. See COPYING for
details.

NOTE: If you make changes to this file, make sure to validate the file
using the polkit-policy-file-validate(1) tool. Changes made to this
file are instantly applied.
-->

<policyconfig>
  <group id="hal-device-file">
    <description>Raw device access</description>

    <policy id="hal-device-file-sound">
      <description>Directly access sound devices</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-video4linux">
      <description>Directly access video capture devices</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-cdrom">
      <description>Directly access optical drives</description>
      <defaults>
        <allow_inactive>yes</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-dvb">
      <description>Directly access DVB devices</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-camera">
      <description>Directly access digital cameras</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-scanner">
      <description>Directly access scanners</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-ieee1394-iidc">
      <description>Directly access Firewire IIDC devices</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

    <policy id="hal-device-file-ieee1394-avc">
      <description>Directly access Firewire AVC devices</description>
      <defaults>
        <allow_inactive>no</allow_inactive>
        <allow_active>yes</allow_active>
      </defaults>
    </policy>

  </group>
</policyconfig>
