<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!-- 
Policy definitions for HAL's RF kill switch mechanism

Copyright (c) 2007 David Zeuthen <david@fubar.dk>

HAL is licensed to you under your choice of the the Academic Free
License Version 2.1, or the GNU General Public License version 2. Some
individual source files may be under the GPL only. See COPYING for
details.

NOTE: If you make changes to this file, make sure to validate the file
using the polkit-policy-file-validate(1) tool. Changes made to this
file are instantly applied.
-->

<policyconfig>
  <group id="hal-killswitch">
    <description>Radio Killswitches</description>
    <description_short>RF Killswitch</description_short>

    <policy id="hal-killswitch-bluetooth">
      <description>Turn Bluetooth radio On/Off</description>
      <missing>Turning the Bluetooth radio On or Off is restricted by system policy.</missing>
      <apply_to_all_mnemonic>Apply to all Bluetooth radios.</apply_to_all_mnemonic>
      <defaults>
        <allow_remote_inactive>no</allow_remote_inactive>
        <allow_remote_active>no</allow_remote_active>
        <allow_local_inactive>no</allow_local_inactive>
        <allow_local_active>yes</allow_local_active>
      </defaults>
    </policy>

    <policy id="hal-killswitch-wlan">
      <description>Turn WLAN radio On/Off</description>
      <missing>Turning the WLAN radio On or Off is restricted by system policy.</missing>
      <apply_to_all_mnemonic>Apply to all WLAN radios.</apply_to_all_mnemonic>
      <defaults>
        <allow_remote_inactive>no</allow_remote_inactive>
        <allow_remote_active>no</allow_remote_active>
        <allow_local_inactive>no</allow_local_inactive>
        <allow_local_active>yes</allow_local_active>
      </defaults>
    </policy>

  </group>
</policyconfig>
