Makefile
Makefile.in
*.o
*~
hald.8
hal-disable-polling.1
hal-find-by-capability.1
hal-find-by-property.1
hal-get-property.1
hal-is-caller-locked-out.1
hal-lock.1
hal-set-property.1
hal-is-caller-privileged.1
lshal.1
 
