.deps
.libs
Makefile
Makefile.in
fstab-sync
fstab-sync.8
hal-acl-tool
hal-device
hal-disable-polling
hal-find-by-capability
hal-find-by-property
hal-get-property
hal-set-property
hal-is-caller-locked-out
hal-is-caller-privileged
hal-lock
hal-luks-remove
hal-luks-setup
hal-policy-is-privileged
hal-setup-keymap
hal-setup-keymap-hash-name.gperf
hal-setup-keymap-hash-name.h
hal-setup-keymap-keys.txt
hal-storage-cleanup-all-mountpoints
hal-storage-cleanup-mountpoint
hal-storage-closetray
hal-storage-eject
hal-storage-mount
hal-storage-unmount
hal-system-power-pm-is-supported
hal-system-power-pmu
hal-system-setserial
hal-system-sonypic
lshal
*.o
*~
