.deps
.libs
Makefile
Makefile.in
hal-get-property
hal-set-property
lshal
fstab-sync.8
hal-find-by-capability
hal-find-by-property
fstab-sync
hal-acl-tool
hal-device
hal-disable-polling
hal-is-caller-locked-out
hal-lock
hal-luks-remove
hal-luks-setup
hal-setup-keymap
hal-setup-keymap-hash-name.gperf
hal-setup-keymap-keys.txt
hal-system-power-pmu
hal-system-sonypic
hal-policy-is-privileged
hal-storage-mount
hal-storage-cleanup-all-mountpoints
hal-storage-cleanup-mountpoint
hal-storage-eject
hal-storage-unmount
hal-storage-closetray
hal-system-power-pm-is-supported
*.o
*~
