.deps
.libs
Makefile
Makefile.in
hal-get-property
hal-set-property
lshal
fstab-sync.8
hal-find-by-capability
hal-find-by-property
fstab-sync
hal-device
hal-luks-remove
hal-luks-setup
hal-system-power-pmu
hal-policy-is-privileged
hal-storage-mount
*.o
